.restaurant-list {
    padding: 16px;
    background-color: var(--tg-bg-color);
    color: var(--tg-text-color);
    height: 90vh;
}

.title {
    margin-bottom: 16px;
    margin-left: 5px;
    font-size: 18px;
    font-weight: bold;
}

@media (hover: hover) and (pointer: fine) {
    .restaurant:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

.restaurant {
    display: flex;
    align-items: center;
    background-color: var(--tg-secondary-bg-color);
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.restaurant img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 16px;
    object-fit: cover;
}

.restauran {
    display: flex;
    align-items: center;
    background-color: var(--tg-secondary-bg-color);
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.restauran img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 16px;
    object-fit: cover;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    font-size: 18px;
    font-weight: 600;
    color: var(--tg-text-color);
    margin-bottom: 4px;
}

.address {
    font-size: 14px;
    font-weight: 400;
    color: var(--tg-subtitle-text-color);
}